<% include ../partials/header %>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                <div class="sidebar-player text-center m-2">
                    <img src="../<%=player.image%>" alt="<%=player.name%>" class="img-fluid rounded-circle player-circle">
                    <div class="font-weight-bold"><%= player.name %></div>
                    <small><%= player.position %></small>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/players/<%= player._id %>/analytics">
                            <i class="fas fa-chart-bar mr-2"></i><span data-feather="home"></span>Dashboard<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/players/<%= player._id %>/advanced"><i class="fas fa-chart-line mr-2"></i><span data-feather="file"></span>Advanced</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/players/<%= player._id %>/offense"><i class="fas fa-basketball-ball mr-2"></i><span data-feather="shopping-cart"></span>Offense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/players/<%= player._id %>/defense"><i class="fas fa-shield-alt mr-2"></i><span data-feather="users"></span>Defense</a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        Current month
                    </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <a class="d-flex align-items-center text-muted" href="/players/<%= player._id %>">
                        <i class="fas fa-arrow-left mr-2"></i><span>Player Page</span>
                    </a>
                </h6>
                </div>
            </nav>
            <!-- Cards -->
            <div class= col-md-11>
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Years On Campus</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseYears" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center" id="collapseBody">
                                <h1><%= player.season.length %></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Career Games Played</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center" id="collapseBody">
                                <h1><%= totalGP %></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Background</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <h1>Years as a Cyclone: <%= player.season.length %></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Background</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <h1>Years as a Cyclone: <%= player.season.length %></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Totals: Games</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <div class="chart-area">
                                    <canvas id="gameChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Totals: Minutes</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <div class="chart-area">
                                    <canvas id="minChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Averages</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <div class="chart-area">
                                    <canvas id="myLineChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Season Totals</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <div class="chart-area">
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Percentages</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <div class="chart-area">
                                    <canvas id="myFGLineChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Percentages</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Card Options:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseBody">
                                <div class="chart-area">
                                    <canvas id="myPointsPieChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let myChart = document.getElementById('myChart').getContext('2d');

        let gs = [<%= gs %>];
        let gp = [<%= gp %>];
        let min = [<%= totalMin %>];
        let mpg = [<%= minAvgs %>];
        let ppg = [<%= pointAvgs %>];
        let apg = [<%= astAvgs %>];
        let rpg = [<%= rebAvgs %>];
        let spg = [<%= stlAvgs %>];
        let fg = [<%= fg %>];
        let tp = [<%= tp %>];
        let ft = [<%= ft %>];
        let pointTotal = [<%= pointTotals %>];
        let assistTotal = [<%= astTotals %>];
        let reboundTotal = [<%= rebTotals %>];
        let stealTotal = [<%= stlTotals %>];
        let xAxis = <%- JSON.stringify(yearTotals) %>;

        let playerGameChart = new Chart(gameChart, {
            type: 'bar',
            data: {
                labels: xAxis,
                datasets: [{
                    label: 'Games Played',
                    data: gp,
                    backgroundColor: 'rgb(149,16,16, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(149,16,16)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },
                {
                    label: 'Games Started',
                    data: gs,
                    backgroundColor: 'rgb(253, 200, 47, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Game Action By Season: <%= player.name %>",
                    fontSize: 25
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: false
                    }]
                }
            }
        });

        var playerMinChart = new Chart(minChart, {
            type: 'bar',
            data: {
                datasets: [{
                    label: 'Total Minutes',
                    data: min,
                    backgroundColor: 'rgb(149,16,16, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(149,16,16)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }],
                labels: xAxis
            },
            options: {
                title: {
                    display: true,
                    text: "Game Action By Season: <%= player.name %>",
                    fontSize: 25
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: false
                    }]
                }
            }
        });

        let playerStatChart = new Chart(myChart, {
            type: 'bar',
            data: {
                labels: xAxis,
                datasets: [{
                    label: 'Points',
                    data: pointTotal,
                    backgroundColor: 'rgb(149,16,16, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(149,16,16)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },
                {
                    label: 'Assists',
                    data: assistTotal,
                    backgroundColor: 'rgb(253, 200, 47, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },
                {
                    label: 'Rebounds',
                    data: reboundTotal,
                    backgroundColor: 'rgb(253, 200, 47, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },
                {
                    label: 'Steals',
                    data: stealTotal,
                    backgroundColor: 'rgb(253, 200, 47, 0.6)',
                    borderWidth: 1,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Stat Accumulation Per Season: <%= player.name %>",
                    fontSize: 25
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        stacked: false
                    }]
                }
            }
        });
    
        let playerLineChart = new Chart(myLineChart, {
            type: 'line',
            data: {
                labels: xAxis,
                datasets: [{
                    label: 'Minutes',
                    data: mpg,
                    backgroundColor: 'rgb(149,16,16, 0.6)',
                    borderWidth: 4,
                    borderColor: '#000',
                    hoverBackgroundColor: 'rgb(149,16,16)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: '#000',
                    fill: false
                },
                {
                    label: 'Points',
                    data: ppg,
                    backgroundColor: 'rgb(149,16,16, 0.4)',
                    borderWidth: 4,
                    borderColor: 'rgb(149,16,16)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: 'rgb(149,16,16)',
                    fill: false
                },
                {
                    label: 'Assists',
                    data: apg,
                    backgroundColor: 'rgb(253, 200, 47, 0.4)',
                    borderWidth: 4,
                    borderColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: '#000',
                    fill: false
                },
                {
                    label: 'Rebounds',
                    data: rpg,
                    backgroundColor: 'rgb(149,16,16)',
                    borderWidth: 4,
                    borderColor: '#000',
                    hoverBorderWidth: 8,
                    hoverBorderColor: '#000',
                    fill: false
                },
                {
                    label: 'Steals',
                    data: spg,
                    backgroundColor: 'rgb(0, 0, 204)',
                    borderWidth: 4,
                    borderColor: 'rgb(0, 0, 204)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: '#000',
                    fill: false
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Per Game Averages: <%= player.name %>",
                    fontSize: 25
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let playerFGLineChart = new Chart(myFGLineChart, {
            type: 'line',
            data: {
                labels: xAxis,
                datasets: [{
                    label: 'FG %',
                    data: fg,
                    backgroundColor: 'rgb(149,16,16, 0.4)',
                    borderWidth: 4,
                    borderColor: 'rgb(149,16,16)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: 'rgb(149,16,16)',
                    fill: false
                }, 
                {
                    label: '3P %',
                    data: tp,
                    backgroundColor: 'rgb(149,16,16, 0.4)',
                    borderWidth: 4,
                    borderColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: 'rgb(149,16,16)',
                    fill: false
                }, 
                {
                    label: 'FT %',
                    data: ft,
                    backgroundColor: 'rgb(149,16,16, 0.4)',
                    borderWidth: 4,
                    borderColor: 'rgb(253, 200, 47)',
                    hoverBorderWidth: 8,
                    hoverBorderColor: 'rgb(149,16,16)',
                    fill: false
                }]
            },
            options: {
                title: {
                    display: true,
                    text: "FG Percentages YoY: <%= player.name %>",
                    fontSize: 25
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let myDoughnutChart = new Chart(myPointsPieChart, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: pointTotal,
                    backgroundColor: ["rgb(149,16,16)", "rgb(253, 200, 47)", "#000", "rgb(0, 0, 204)", "#D6E9C6"]
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: xAxis
            }
        });
    </script>
<% include ../partials/footer %>
