<% include ../partials/header %>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-player text-center m-2">
                        <img src="../<%=player.image%>" alt="<%=player.name%>" class="img-fluid rounded-circle img-thumbnail shadow-sm player-circle">
                        <div class="font-weight-bold"><%= player.name %></div>
                        <small><%= player.position %></small>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/players/<%= player._id %>/analytics">
                                <i class="fas fa-chart-bar mr-2"></i><span data-feather="home"></span>Dashboard<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/players/<%= player._id %>/advanced"><i class="fas fa-chart-line mr-2"></i><span data-feather="file"></span>Advanced</a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Game Logs</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                        <a class="nav-link" href="/players/<%= player._id %>/games">
                            <span data-feather="file-text"></span>
                            Games
                        </a>
                        </li>
                    </ul>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                        <a class="nav-link" href="/players/<%= player._id %>/games/conference">
                            <span data-feather="file-text"></span>
                            Big 12 Games
                        </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-center">
                        <a class="d-flex align-items-center text-muted" href="/players/<%= player._id %>">
                            <i class="fas fa-arrow-left mr-2"></i><span>Player Page</span>
                        </a>
                    </h6>
                </div>
            </nav>
            <!-- End Sidebar -->
            <!-- Win / Loss Stats Row -->
            <div class="col-md-11">
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Overall Record</h6>
                                        <span class="h2 mb-0" id="winCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="lossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Record: Home Games</h6>
                                        <span class="h2 mb-0" id="hWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="hLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Record: Away Games</h6>
                                        <span class="h2 mb-0" id="aWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="aLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Record: Neutral Sites</h6>
                                        <span class="h2 mb-0" id="nWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="nLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Conference Record</h6>
                                        <span class="h2 mb-0" id="cWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="cLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Conference: Home Games</h6>
                                        <span class="h2 mb-0" id="cHomeWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="cHomeLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">NCAA Tourney Record</h6>
                                        <span class="h2 mb-0" id="ncaaWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="ncaaLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Big 12 Tourney Record</h6>
                                        <span class="h2 mb-0" id="tWinCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="tLossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Top Row Cards -->
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Career High: Points</h6>
                                        <span class="h2 mb-0" id="pointsCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-building"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Career High: Assists</h6>
                                        <span class="h2 mb-0" id="assistsCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-2x fa-align-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Career High: Rebounds</h6>
                                        <span class="h2 mb-0" id="rebsCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-play-circle"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body collapse show text-center">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="text-uppercase mb-2 cyclone-text">Career Minutes</h6>
                                        <span class="h2 mb-0" id="winCounter"></span><span class="h2 mb-0">-</span><span class="h2 mb-0" id="lossCounter"></span>
                                    </div>
                                    <div class="col-auto">
                                        <i class="far fa-2x fa-clock"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold cyclone-text">Box Scores: <%= player.name %></h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" data-toggle="collapse" href="#collapseStats" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body collapse show" id="collapseStats">
                                <div class="chart-area">
                                    <table class="table table-responsive-xl table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">Season</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Opponent</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Game Type</th>
                                                <th scope="col">Result</th>
                                                <th scope="col">Start</th>
                                                <th scope="col">FG</th>
                                                <th scope="col">FGA</th>
                                                <th scope="col">FG%</th>
                                                <th scope="col">2P</th>
                                                <th scope="col">2PA</th>
                                                <th scope="col">2P%</th>
                                                <th scope="col">3P</th>
                                                <th scope="col">3PA</th>
                                                <th scope="col">3P%</th>
                                                <th scope="col">FT</th>
                                                <th scope="col">FTM</th>
                                                <th scope="col">FT%</th>
                                                <th scope="col">ORB</th>
                                                <th scope="col">DRB</th>
                                                <th scope="col">TRB</th>
                                                <th scope="col">AST</th>
                                                <th scope="col">STL</th>
                                                <th scope="col">BLK</th>
                                                <th scope="col">TO</th>
                                                <th scope="col">PF</th>
                                                <th scope="col">PTS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% player.gameLog.forEach(function(game){ %>
                                            <tr>
                                                <td><%= game.season %></td>
                                                <td><%= game.date %></td>
                                                <td><%= game.opp %></td>
                                                <td><%= game.location %></td>
                                                <td><%= game.gameType %></td>
                                                <td><%= game.result %></td>
                                                <td><%= game.start %></td>
                                                <td><%= game.fgm %></td>
                                                <td><%= game.fga %></td>
                                                <td><%= (game.fgp * 100).toFixed(1) %></td>
                                                <td><%= game.twoPM %></td>
                                                <td><%= game.twoPA %></td>
                                                <td><%= (game.twoP * 100).toFixed(1) %></td>
                                                <td><%= game.threePM %></td>
                                                <td><%= game.threePA %></td>
                                                <td><%= (game.threeP * 100).toFixed(1) %></td>
                                                <td><%= game.ftm %></td>
                                                <td><%= game.fta %></td>
                                                <td><%= (game.ftp * 100).toFixed(1) %></td>
                                                <td><%= game.orb %></td>
                                                <td><%= game.drb %></td>
                                                <td><%= game.orb + game.drb %></td>
                                                <td><%= game.ast %></td>
                                                <td><%= game.stl %></td>
                                                <td><%= game.blk %></td>
                                                <td><%= game.to %></td>
                                                <td><%= game.pf %></td>
                                                <td><%= game.pts %></td>
                                            </tr>
                                            <% }); %>
                                            <tr>
                                                <td>Career</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>
<script>
    // CountUp Variables
    let points       = <%= careerPTS %>;
    let ast          = <%= careerAST %>;
    let reb          = <%= careerREB %>;
    let win          = <%= wins %>;
    let loss         = <%= losses %>;
    let neutralWin   = <%= nWins %>;
    let neutralLoss  = <%= nLosses %>;
    let homeWin      = <%= hWins %>;
    let homeLoss     = <%= hLosses %>;
    let awayWin      = <%= aWins %>;
    let awayLoss     = <%= aLosses %>;
    let ncaaWin      = <%= ncaaWins %>;
    let ncaaLoss     = <%= ncaaLosses %>;

    // CountUp JS
    let winsCount = new CountUp('winCounter', 0, win, 0, 2.5);
        if (!winsCount.error) {
            winsCount.start();
        } else {
            console.error(winsCount.error);
        }

    let lossCount = new CountUp('lossCounter', 0, loss, 0, 2.5);
        if (!lossCount.error) {
            lossCount.start();
        } else {
            console.error(lossCount.error);
        }

    let hWinsCount = new CountUp('hWinCounter', 0, homeWin, 0, 2.5);
        if (!hWinsCount.error) {
            hWinsCount.start();
        } else {
            console.error(hWinsCount.error);
        }

    let hLossCount = new CountUp('hLossCounter', 0, homeLoss, 0, 2.5);
        if (!hLossCount.error) {
            hLossCount.start();
        } else {
            console.error(hLossCount.error);
        }

    let aWinsCount = new CountUp('aWinCounter', 0, awayWin, 0, 2.5);
        if (!aWinsCount.error) {
            aWinsCount.start();
        } else {
            console.error(aWinsCount.error);
        }

    let aLossCount = new CountUp('aLossCounter', 0, awayLoss, 0, 2.5);
        if (!aLossCount.error) {
            aLossCount.start();
        } else {
            console.error(aLossCount.error);
        }

    let nWinsCount = new CountUp('nWinCounter', 0, neutralWin, 0, 2.5);
        if (!nWinsCount.error) {
            nWinsCount.start();
        } else {
            console.error(nWinsCount.error);
        }

    let nLossCount = new CountUp('nLossCounter', 0, neutralLoss, 0, 2.5);
        if (!nLossCount.error) {
            nLossCount.start();
        } else {
            console.error(nLossCount.error);
        }
    
    let ncaaWinsCount = new CountUp('ncaaWinCounter', 0, ncaaWin, 0, 2.5);
        if (!ncaaWinsCount.error) {
            ncaaWinsCount.start();
        } else {
            console.error(ncaaWinsCount.error);
        }

    let ncaaLossCount = new CountUp('ncaaLossCounter', 0, ncaaLoss, 0, 2.5);
        if (!ncaaLossCount.error) {
            ncaaLossCount.start();
        } else {
            console.error(ncaaLossCount.error);
        }

    let pointsCount = new CountUp('pointsCounter', 0, points, 0, 2.5);
        if (!pointsCount.error) {
            pointsCount.start();
        } else {
            console.error(pointsCount.error);
        }

    let assistsCount = new CountUp('assistsCounter', 0, ast, 0, 2.5);
        if (!assistsCount.error) {
            assistsCount.start();
        } else {
            console.error(assistsCount.error);
        }

    let rebsCount = new CountUp('rebsCounter', 0, reb, 0, 2.5);
        if (!rebsCount.error) {
            rebsCount.start();
        } else {
            console.error(rebsCount.error);
        }  
</script>