<% include ../partials/header %>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-player text-center m-2">
                        <img src="../<%=player.image%>" alt="<%=player.name%>" class="img-fluid rounded-circle img-thumbnail shadow-sm player-circle">
                        <div class="font-weight-bold"><%= player.name %></div>
                        <small><%= player.position %></small>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/players/<%= player._id %>/analytics">
                                <i class="fas fa-chart-bar mr-2"></i><span data-feather="home"></span>Dashboard<span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/players/<%= player._id %>/advanced"><i class="fas fa-chart-line mr-2"></i><span data-feather="file"></span>Advanced</a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Game Logs</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                        <a class="nav-link" href="/players/<%= player._id %>/games">
                            <span data-feather="file-text"></span>
                            Games
                        </a>
                        </li>
                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-center">
                        <a class="d-flex align-items-center text-muted" href="/players/<%= player._id %>">
                            <i class="fas fa-arrow-left mr-2"></i><span>Player Page</span>
                        </a>
                    </h6>
                </div>
            </nav>
            <!-- End Sidebar -->
            <div class="col-md-11">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold cyclone-text">Box Scores: <%= player.name %></h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" data-toggle="collapse" href="#collapseStats" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body collapse show" id="collapseStats">
                        <div class="chart-area">
                            <table class="table table-responsive-xl table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Season</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Opponent</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Game Type</th>
                                        <th scope="col">Result</th>
                                        <th scope="col">Start</th>
                                        <th scope="col">FG</th>
                                        <th scope="col">FGA</th>
                                        <th scope="col">FG%</th>
                                        <th scope="col">2P</th>
                                        <th scope="col">2PA</th>
                                        <th scope="col">2P%</th>
                                        <th scope="col">3P</th>
                                        <th scope="col">3PA</th>
                                        <th scope="col">3P%</th>
                                        <th scope="col">FT</th>
                                        <th scope="col">FTM</th>
                                        <th scope="col">FT%</th>
                                        <th scope="col">ORB</th>
                                        <th scope="col">DRB</th>
                                        <th scope="col">TRB</th>
                                        <th scope="col">AST</th>
                                        <th scope="col">STL</th>
                                        <th scope="col">BLK</th>
                                        <th scope="col">TO</th>
                                        <th scope="col">PF</th>
                                        <th scope="col">PTS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% player.gameLog.forEach(function(game){ %>
                                    <tr>
                                        <td><%= game.season %></td>
                                        <td><%= game.date %></td>
                                        <td><%= game.opp %></td>
                                        <td><%= game.location %></td>
                                        <td><%= game.gameType %></td>
                                        <td><%= game.result %></td>
                                        <td><%= game.start %></td>
                                        <td><%= game.fgm %></td>
                                        <td><%= game.fga %></td>
                                        <td><%= (game.fgp * 100).toFixed(1) %></td>
                                        <td><%= game.twoPM %></td>
                                        <td><%= game.twoPA %></td>
                                        <td><%= (game.twoP * 100).toFixed(1) %></td>
                                        <td><%= game.threePM %></td>
                                        <td><%= game.threePA %></td>
                                        <td><%= (game.threeP * 100).toFixed(1) %></td>
                                        <td><%= game.ftm %></td>
                                        <td><%= game.fta %></td>
                                        <td><%= (game.ftp * 100).toFixed(1) %></td>
                                        <td><%= game.orb %></td>
                                        <td><%= game.drb %></td>
                                        <td><%= game.orb + game.drb %></td>
                                        <td><%= game.ast %></td>
                                        <td><%= game.stl %></td>
                                        <td><%= game.blk %></td>
                                        <td><%= game.to %></td>
                                        <td><%= game.pf %></td>
                                        <td><%= game.pts %></td>
                                    </tr>
                                    <% }); %>
                                    <tr>
                                        <td>Career</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>