<% include ../partials/header %>

 <div class="container">
     <header class="jumbotron shadow">
         <div class="container">
             <h1>Cyclones.  By The Numbers.</h1>
             <p>View our growing player database:</p>
             <p>
                <a class="btn btn-cyclone btn-large" href="/players/new">Add New Player</a>
             </p>
             <p>
                 <form action="/players" method="GET" class="form-inline">
                     <div class="form-group">
                         <input type="text" name="search" placeholder="Player Search..." class="form-control">
                         <input type="submit" value="Search" class="btn btn-default">
                     </div>
                 </form>
             </p>
         </div>
     </header>
    <div class="row text-center">
        <% players.forEach(function(player){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card shadow player-card">
                    <img src="<%= player.image %>" id="playerCardImage" class="card-img-top" alt="<%= player.name %>">
                    <div class="card-body" id="playerCardBody">
                        <h5 class="card-title"><%= player.name %></h5>
                        <h5 class="card-title"><%= player.position %></h5>
                        <a href="/players/<%= player._id %>" class="btn btn-cyclone">More Info</a>
                    </div>
                </div>  
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>
