<%- include('../partials/header') %>

 <div class="container mt-3">
    <!-- Search Jumbotron -->
    <header class="jumbotron dark-mode-jumbotron shadow fade-in">
        <div class="container">
            <h1 class="dark-mode-text">Cyclones.  By The Numbers.</h1>
            <p class="dark-mode-text">Powered by <strong>MongoDB Atlas Search & Vector Search </strong><i class="fa-brands fa-envira mongodb-color-scheme"></i></p>
            <p>
                <form action="/players/search" method="GET" class="form-inline">
                    <div class="form-group">
                        <!-- Search Fields Configuration -->
                        <div class="input-group mr-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="searchType">Search Type:</label>
                            </div>
                            <select class="custom-select" id="searchType" name="searchType">
                                <option value="all">All</option>
                                <option value="name">Name</option>
                                <option value="position">Position</option>
                                <option value="hometown">Hometown</option>
                            </select>
                        </div>
                        <!-- Search Mode -->
                        <div class="input-group mr-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="mode">Mode:</label>
                            </div>
                            <select class="custom-select" id="mode" name="mode">
                                <option value="lexical" selected>Lexical</option>
                                <option value="semantic">Semantic (Vector)</option>
                            </select>
                        </div>
                        <input type="text" name="search" placeholder="Player Search..." class="form-control mr-2">
                        <input type="submit" value="Search" class="btn btn-outline-secondary mr-3">
                        <div class="form-check mx-1">
                        <input class="form-check-input" type="checkbox" name="fuzzySearch" id="fuzzySearchCheckbox" value="true">
                        <label class="form-check-label dark-mode-text" for="fuzzySearchCheckbox">Fuzzy search</label>
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </header>

    <!-- Search Scoring Example -->
    <% if (players.length > 0) { %> 
        <div class="row">
            <div class="col-xl-12">
                <div class="card dark-mode-collapse-card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold cyclone-text">Search Score Example</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle collapsed" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" data-toggle="collapse" href="#collapseExampleStats" aria-expanded="false" aria-controls="collapseExampleStats">Toggle View</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://www.mongodb.com/docs/atlas/atlas-search/score/get-details/" target="_blank">Atlas Search Scoring</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body collapse" id="collapseExampleStats">
                    <div class="chart-area">
                        <h5>Search Score Details</h5>
                        <table class="table table-responsive-xl table-hover">
                            <thead class="thead-dark">
                                <tr class="dark-mode-text">
                                    <th scope="col">Value</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="dark-mode-text">
                                    <td>1.2549426555633545</td>
                                    <td>$type:string/name:niang [BM25Similarity], result of:</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>1.2549426555633545</td>
                                    <td>score(freq=1.0), computed as boost * idf * tf from:</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>2.685577392578125</td>
                                    <td>idf, computed as log(1 + (N - n + 0.5) / (n + 0.5)) from:</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>1</td>
                                    <td>n, number of documents containing term</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>21</td>
                                    <td>N, total number of documents with field</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>0.4672897458076477</td>
                                    <td>tf, computed as freq / (freq + k1 * (1 - b + b * dl / avgdl)) from:</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>1</td>
                                    <td>freq, occurrences of term within document</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>1.2000000476837158</td>
                                    <td>k1, term saturation parameter</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>0.75</td>
                                    <td>b, length normalization parameter</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>2</td>
                                    <td>dl, length of field</td>
                                </tr>
                                <tr class="dark-mode-text">
                                    <td>2.142857074737549</td>
                                    <td>avgdl, average length of field</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!-- Search Result Toggle -->
    <% if (typeof query !== 'undefined' && players.length > 1) { %>
    <div class="row text-center dark-mode-text" style="display: flex; flex-wrap: wrap; align-items: stretch;">
        <div class="col-md-12">
            <h5>Search Results:</h5>
        </div>
        <div class="col-md-12">
            <p><strong><%= players.length %></strong> results were found for the search for: <strong><%= query %></strong></p>
        </div>
    </div>
    <% } else if (typeof query !== 'undefined' && players.length === 1) { %>
    <div class="row text-center dark-mode-text" style="display: flex; flex-wrap: wrap; align-items: stretch;">
        <div class="col-md-12">
            <h5>Search Results:</h5>
        </div>
        <div class="col-md-12">
            <p><strong><%= players.length %></strong> result was found for the search for: <strong><%= query %></strong></p>
        </div>
    </div>
    <% } %>

    <!-- Search Results -->
    <div class="row text-center">
        <% if (players.length > 0) { %> 
        <% players.forEach((player) => { %>
            <div class="col-lg-4 col-md-4 col-sm-6 mb-4">
                <div class="card shadow cyclone-card fade-in">
                    <img src="<%= player.image %>" id="playerCardImage" class="card-img-top" alt="<%= player.name %>">
                    <div class="card-body" id="playerCardBody">
                        <h4 class="card-title"><%= player.name %></h5>
                        <h5 class="card-title"><%= player.position %></h5>
                        <% if (typeof player.searchScore === 'number') { %>
                        <p><strong>Relevance Score:</strong> <%= player.searchScore.toFixed(2) %></p>
                        <% } else if (typeof player.semanticScore === 'number') { %>
                        <p><strong>Relevance Score:</strong> <%= player.semanticScore.toFixed(2) %></p>
                        <% } %>
                        <a href="/players/<%= player._id %>" class="btn btn-cyclone">More Info</a>
                    </div>
                </div>  
            </div>
        <% }); %>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %> 