<% include ../partials/header %>

<div class="container mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-3">
                <img class="card-img-top" id="teamShowImage" src="<%= season.image %>" alt="<%= season.year %>">
                <div class="card-body">
                    <p class="float-right">Rank: Statistic In Development</p>
                    <h1 class="card-title"><a><%= season.year %></a></h1>
                    <hr>
                    <h2 class="card-text">Overall Record: <%= season.wins %> - <%= season.losses %></h2>
                    <h3 class="card-text">Conference Record: <%= season.confWins %> - <%= season.confLosses %></h3>
                    <p class="card-text"><%= season.description %></p>

                    <% if(currentUser && season.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                    <a class= "btn btn-warning" href="/seasons/<%= season._id %>/edit">Edit Season</a>
                    <form id="delete-form" action="/seasons/<%= season._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold cyclone-text">Team Details</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" data-toggle="collapse" href="#collapseBody" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body collapse show" id="collapseBody">
                    <div class="chart-area">
                        <table class="table table-responsive-xl">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Head Coach</th>
                                    <th scope="col">Conference</th>
                                    <th scope="col">Conference Finish</th>
                                    <th scope="col">Hometown</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= season.headCoach %></td>
                                    <td><%= season.conf %> </td>
                                    <td><%= season.confRank %></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-3">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold cyclone-text">Comments: <%= season.comments.length %></h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" data-toggle="collapse" href="#collapseComments" aria-expanded="false" aria-controls="collapseExample">Collapse</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <div class="card-body collapse show" id="collapseComments">
            <div class="text-right">
                <a class="btn btn-success" href="/seasons/<%= season._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <div class="row">
            <% season.comments.forEach(function(comment){ %>
                <div class="col-md-12 mb-2">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="float-right"><%= moment(comment.createdAt).fromNow() %></p>
                            <a class="card-title" href="/users/<%= season.author.id %>"><%= comment.author.username %></a>
                            <p class="card-text"><%= comment.text %></p>
                            <% if(currentUser && season.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <div class="float-right">
                                    <a class="btn btn-xs btn-warning" href="/seasons/<%=season._id%>/comments/<%=season._id%>/edit">Edit</a>
                                    <form id="delete-comment" action="/seasons/<%= season._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                    </form>
                                </div>
                            <% }; %>
                        </div>
                    </div>
                </div>
            <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>