<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-lg-0 mb-4">
            <!--Card-->
                <div class="card testimonial-card mb-2">
                    <!--Background color-->
                    <div class="card-up info-color"></div>
                    <!--Avatar-->
                    <div class="avatar m-2 white">
                        <img src="<%= user.avatar %>" alt="user profile image" class="rounded-circle img-fluid">
                    </div>
                    <div class="card-body">
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4"><%= user.username %></h4>
                        <a href="mailto:<%=user.email %>"><%= user.email %></a>
                        <hr>
                        <!--Quotation-->
                        <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
                            Member since: <%= user._id.getTimestamp().toString().substring(4, 15) %></p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Comments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div class="row">
                <% user.comments.forEach(function(comment){ %>
                    <div class="col-md-12 mb-2">
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="float-right"><%= moment(comment.createdAt).fromNow() %></p>
                                <a class="card-title" href="/users/<%= season.author.id %>"><%= comment.author.username %></a>
                                <p class="card-text"><%= comment.text %></p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                    <div class="float-right">
                                        <a class="btn btn-xs btn-warning" href="/users/<%=user._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                        <form id="delete-comment" action="/user/<%= user._id%>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                        </form>
                                    </div>
                                <% }; %>
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
        </div>
    </div> 
</div>
<% include ../partials/footer %>