<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-lg-0 mb-4">
            <!--Card-->
                <div class="card testimonial-card mb-2">
                    <!--Background color-->
                    <div class="card-up info-color"></div>
                    <!--Avatar-->
                    <div class="avatar m-2 white text-center">
                        <% if(user.avatar != "") { %>
                            <img src="<%= user.avatar %>" alt="user profile image" class="rounded-circle img-fluid">
                        <% } else { %>
                            <img src="../images/default.png" alt="..." class="img-thumbnail avatar-circle rounded-circle m-2">
                            <% } %>
                    </div>
                    <div class="card-body">
                        <!--Name-->
                        <h4 class="font-weight-bold mb-4"><%= user.username %></h4>
                        <a href="mailto:<%=user.email %>"><%= user.email %></a>
                        <hr>
                        <!--Quotation-->
                        <p class="dark-grey-text mt-4"><i class="fa fa-quote-left pr-2"></i>
                            Member since: <%= user._id.getTimestamp().toString().substring(4, 15) %></p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="card-header-pills nav nav-pills">
                        <li class="nav-item">
                            <a href="#" class="active nav-link">Active</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Link</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Active</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <h5 class="card-title">Last Activity: <%= moment(user.lastLogin).fromNow() %></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<% include ../partials/footer %>